{{ partial "head.html" . }}
	{{ partial "header.html" . }}
		<main>
			<h1>{{ .Title }}</h1>
			{{.Content}}
			<h2>Projects</h2>
			<dl class="work">
			{{ range .Pages }}
				<div>
					<dt>
						<a href="{{ .RelPermalink }}">{{.Title}}</a>
					</dt>
					<dd>
						{{ .Description }}
					</dd>
				</div>
			{{ end }}
			</dl>
		</main>
		<nav class="social" aria-label="Social media links">
			<ul>
				{{ range .Params.Social }}
				<li><a href="https://{{ . }}.jamesmedd.co.uk">{{ . }}</a></li>
				{{ end }}
			</ul>
		</nav>

{{ partial "footer.html" . }}
